<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gjc.mybatis_demo.mapper.ResultMapper">


    <insert id="saveResult" parameterType="com.gjc.mybatis_demo.model.ResultInfo"
            useGeneratedKeys="true" keyProperty="id">

        insert into `result_info`(`stu_id`, `result`)
        values (#{stuId}, #{result});

    </insert>
</mapper>