<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gjc.mybatis_demo.mapper.StudentMapper">

    <!-- 一对多的映射显示 ，注意避免名称的关键字和重复性 -->
    <resultMap id="baseResult" type="com.gjc.mybatis_demo.vo.StudentResult">

        <id column="id" property="stuId"/>
        <result column="name" property="name"/>
        <collection property="resultInfos"
                    ofType="com.gjc.mybatis_demo.vo.ResultInfoVo">
            <id column="result_id" property="id"/>
            <result column="result" property="result"/>
        </collection>
    </resultMap>


    <insert id="insert" parameterType="com.gjc.mybatis_demo.model.Student">
        INSERT INTO `student`(`name`, `created`)
        VALUES (#{name}, #{created})
    </insert>


    <select id="query" resultType="com.gjc.mybatis_demo.model.Student">
        select *
        from `student`
    </select>

    <select id="queryList" resultType="com.gjc.mybatis_demo.model.Student">
        select *
        from `student`
    </select>

    <select id="getResultList" resultMap="baseResult">
        select s.id, s.name, r.result, r.id as result_id
        from `student` s
                 inner join `result_info` r on s.id = r.stu_id;
    </select>


</mapper>